In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('data/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
811,tt1650043,21000000,72417394,Diary of a Wimpy Kid: Rodrick Rules,Zachary Gordon|Devon Bostick|Rachael Harris|Ro...,David Bowers,Welcome to the next grade,"Back in middle school after summer vacation, G...",99,Family|Comedy,Fox 2000 Pictures|Color Force,3/25/2011,6.4,2011
710,tt1046163,20000000,36620508,My Best Friend's Girl,Dane Cook|Kate Hudson|Alec Baldwin|Jason Biggs...,Howard Deutch,It's funny what love can make you do...,"When Dustin's girlfriend, Alexis, breaks up wi...",101,Comedy,Lionsgate|New Wave Entertainment|Management 36...,9/19/2008,5.3,2008
1469,tt0362120,45000000,178262620,Scary Movie 4,Anna Faris|Regina Hall|Craig Bierko|Bill Pullm...,David Zucker,Bury the grudge. Burn the village. See the saw.,Cindy finds out the house she lives in is haun...,83,Comedy,Dimension Films,4/13/2006,5.3,2006
1253,tt1860353,135000000,282570682,Turbo,Ryan Reynolds|Paul Giamatti|Michael PeÃ±a|Samu...,David Soren,SLO NO MO,The tale of an ordinary garden snail who dream...,96,Animation|Family,DreamWorks Animation,7/11/2013,6.1,2013
1125,tt0305357,120000000,259175788,Charlie's Angels: Full Throttle,Cameron Diaz|Drew Barrymore|Lucy Liu|Bernie Ma...,McG,This summer the Angels are back.,The Angels are charged with finding a pair of ...,106,Action|Adventure|Comedy|Crime,Columbia Pictures Corporation|Wonderland Sound...,6/27/2003,5.3,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # создадим словарь для ответов

data.release_date = pd.to_datetime(data.release_date)
data['profit'] = data.revenue - data.budget


def counter(movie_bd, x):
    # превращаем все в одну строку
    data_tmp = movie_bd[x].str.cat(sep='|')
    # создаем список разделяя строку по '|'
    data_tmp = pd.Series(data_tmp.split('|'))
    # считаем количество элементов строке
    data_tmp = data_tmp.value_counts(ascending=False)

    return data_tmp


def get_init_dict_by_column(column):
    init_dict = {}

    for item in column.unique():
        for i in item.split('|'):
            if i not in init_dict:
                init_dict[i] = 0

    return init_dict


def get_key_of_max_value(obj):
    return max(obj, key=obj.get)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' # +

In [6]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
data[['original_title', 'budget']].sort_values(by='budget', ascending=False)[0:5]

                                   original_title     budget
723   Pirates of the Caribbean: On Stranger Tides  380000000
1669     Pirates of the Caribbean: At World's End  300000000
14                        Avengers: Age of Ultron  280000000
1014                                  John Carter  260000000
380                                       Tangled  260000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals' # +

In [9]:
data.query('runtime == runtime.max()').original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh' # +

In [11]:
data.query('runtime == runtime.min()').original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = 110 # +

In [13]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = 107 # +

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar' # +

In [17]:
data.query('profit == profit.max()').original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger' # +

In [19]:
data.query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = 1478 # +

In [21]:
data.query('revenue > budget').imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight' # +

In [23]:
films_in_2008 = data.query('release_year == 2008')

films_in_2008.query('revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger' # +

In [25]:
films_in_range = data.query('release_year >= 2012 & release_year <= 2014')

films_in_range.query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama' # +

In [27]:
genres_counter = get_init_dict_by_column(data.genres)

for genre in genres_counter.keys():
    genres_counter[genre] = data.query(f"genres.str.contains('{genre}')").imdb_id.count()

get_key_of_max_value(genres_counter)

'Drama'

ВАРИАНТ 2

In [28]:
counter(data, 'genres')[:5]

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = 'Drama' # +

In [30]:
counter(data[data.profit > 0], 'genres')[:5]

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = 'Peter Jackson' # +

In [32]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)[:5]

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = 'Robert Rodriguez' # +

In [34]:
films = data[data.genres.str.contains('Action')]

counter(films, 'director')[:5]

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = 'Chris Hemsworth' # +

In [36]:
films_in_2012 = data.query('release_year == 2012')
actors = get_init_dict_by_column(films_in_2012.cast)

for actor in actors.keys():
    actors[actor] = films_in_2012.query(f'cast.str.contains("{actor}")').revenue.sum()

get_key_of_max_value(actors)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = 'Matt Damon' # +

In [38]:
high_budget_films = data.query('budget > budget.mean()')
actors_count = counter(high_budget_films, 'cast')

actors_count[:5]

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = 'Action' # +

In [40]:
films_with_actor = data.query(f'cast.str.contains("Nicolas Cage")')
genres = counter(films_with_actor, 'genres')

genres[:5]

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = 'K-19: The Widowmaker' # +

In [42]:
films_from_studio = data.query('production_companies.str.contains("Paramount Pictures") & profit < 0')

films_from_studio[films_from_studio.profit == films_from_studio.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = 2015 # +

In [44]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)[:5]

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = 2014 # +

In [46]:
warner_films = data.query('production_companies.str.contains("Warner Bros")')

warner_films.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)[:5]

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = 'Сентябрь' # +

In [48]:
films_by_month = data.groupby([data.release_date.dt.month]).imdb_id.count()

films_by_month.sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = 450 # +

In [50]:
counter(data.query('release_date.dt.month in [6, 7, 8]'), 'imdb_id').sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = 'Peter Jackson' # +

In [52]:
counter(data.query(f'release_date.dt.month in [12, 1, 2]'), 'director')[:5]

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Martin Scorsese      4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = 'Four By Two Productions' # +

In [54]:
companies = get_init_dict_by_column(data.production_companies)

for company in companies:
    companies[company] = data[data.production_companies.str.contains(company)].original_title.apply(lambda x: len(x)).mean()
    
get_key_of_max_value(companies)

/opt/miniconda3/lib/python3.7/site-packages/pandas/core/strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show' # +

In [56]:
companies = get_init_dict_by_column(data.production_companies)

for company in companies:
    companies[company] = data[data.production_companies.str.contains(company)].overview.apply(lambda x: len(x.split(' '))).mean()

get_key_of_max_value(companies)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

In [58]:
data.sort_values(by='vote_average', ascending=False).head(round(data.imdb_id.count() / 100)).original_title

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

In [60]:
pairs_of_acters = data.cast.apply(lambda x: itertools.combinations(x.split('|'), 2))
res = {}

for row in pairs_of_acters:
    for pair in row:
        pair = ' & '.join(pair)
        if pair in res:
            res[pair] = res[pair] + 1
        else:
            res[pair] = 1
            
get_key_of_max_value(res)

'Daniel Radcliffe & Rupert Grint'

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27